{% extends "base.html" %}

{% block body %}
<!-- 显示所有游戏 -->

{% for game in games %}
<div class="card grey">
    <img class="card-img-top"
         src={{"../static/users/{}/games/{}/{}".format(game.author.name, game.name, game.imgpath.split(os.sep)[-1])}}
         alt="Card image"
         sizes="auto" />
    <div class="card-body">
        <p class="card-text">{{game.intro[:6]}}...</p>
        <p class="card-text">作者：<a href={{url_for("user", id=game.author.id)}}>{{game.author.name}}</a></p>
        <p class="card-text"><a href={{url_for("game", id=game.id)}}>详情</a></p>
        <p class="card-text"><a href={{url_for("download", id=game.id)}}>下载</a></p>
    </div>
</div>
{% endfor %}
{% endblock body %}
