{% extends "base.html" %}

{% block body %}
<h1 class="text-center">{{user.name}}<small>的游戏们</small></h1>
{% for game in user.games %}
<div class="card grey">
    <img class="card-img-top"
         src={{"../static/users/{}/games/{}/{}".format(game.author.name, game.name, game.imgpath.split(os.sep)[-1])}}
         alt="Card image"
         sizes="auto" />
    <div class="card-body">
        <p class="card-text">{{game.intro[:6]}}...</p>
        <p class="card-text"><a href={{url_for("game", id=game.id)}}>详情</a></p>
        <p class="card-text"><a href={{url_for("download", id=game.id)}}>下载</a></p>
        {% if session.get("id") == user.id %}
        <p class="card-text"><a href={{url_for("delete", id=game.id)}}>删除</a></p>
        <p class="card-text"><a href={{url_for("changegame", id=game.id)}}>修改</a></p>
        {% endif %}
    </div>
</div>
{% endfor %}
{% endblock body %}
